html { scroll-behavior: smooth; }

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
}

a { color: #fc7324; }

.padding-container {
    padding-left: 25%;
    padding-right: 25%;
}

.larger-padding-container {
    padding-left: 20%;
    padding-right: 20%;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 9999;
    pointer-events: none;
    width: 85%;
    text-align: center;
}



.spacer {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .layer1 {
        aspect-ratio: 960/150;
        background-image: url('./spacer1.svg');
    }

    .layer2 {
        aspect-ratio: 960/100;
        background-image: url('./spacer2.svg');
    }


    

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
}

header a {
    color: black;
}

.header-title {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-right: auto;
    font-size: 24px;
}

.header-title a {
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-nav li {
    margin-right: 20px;
}

.header-nav a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.header-nav a:hover {
    border-bottom-color: black;
}



.profile {
    overflow-wrap: break-word;
    font-size: 24px;
}

.mobile-profile-container {
    display: flex;
}

.profile-image {
    border-radius: 45%;
    width: 250px;
    height: 250px;
    padding-right: 40px;
}

.social-icons {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.social-icons img {
    border-radius: 0%;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}



.black {
    background-color: #1a1a1a;
    color: white;
}



footer {
    top: 0;
    color: #888888;
    text-align: center;
    padding-bottom: 15px;
    background-color: black;
    font-size: medium;
}



@media only screen and (max-width: 600px) {
    .larger-padding-container {
        padding-left: 3%;
        padding-right: 3%;
    }

    .padding-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .profile p {
        width: 95%;
    }


    .mobile-profile-container {
        display: grid;
    }
}